<ion-view view-title="Takvimim">
  <ion-content>
    <div>
      <ul class="timeline">
        <li ng-repeat="item in items">
          <!--For icon of timeline:
          Use <img/> if you want to use a picture in stead of icon, for example
          <div class="tmicon tmicon-calm"><img src="YourPicture.jpg"></div>-->
          <div class="tmicon tmicon-calm"><i class="{{item.icon}}"></i></div>
          <div class="tmlabel tmlabel-calm" style="height: 40px; margin-bottom: 40px">
            <h4 style="float: left;">{{item.title}}</h4>

            <p style="float: right;">
              <small><i class="icon ion-ios-clock"></i> {{item.time}}</small>
            </p>

            <p>{{item.text}}</p>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
