<ion-view title="{{quest.title}}">
  <ion-content>
    <ion-item class="item-image" style="padding: 0;">
      <img src="http://ecx.images-amazon.com/images/I/41D5vU4I1NL.jpg">
    </ion-item>
    <ion-item style="white-space: pre-wrap">
      <p style="white-space: normal;">{{quest.description}}</p>
    </ion-item>
    <ion-item>
      <i class="icon icon-location category-icon-container" style="font-size: 24px;"></i>
      Hasanpasa Mahallesi Uhuvvet Sokak.
    </ion-item>
    <ion-item>
      <i class="icon icon-calendar-2 category-icon-container" style="font-size: 24px;"></i>
      {{quest.createDate}}
    </ion-item>
    <ion-item><b>Tamamlayanlar</b></ion-item>
    <ion-item>
      <div class="row" ng-repeat="user in quest.completedUsers" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < quest.completedUsers.length">
          <img ng-src="{{quest.completedUsers[$index].avatar}}" width="100%" style="border-radius: 150px;"/>

          <p style="text-align: center;">{{quest.completedUsers[$index].displayName}}</p>
        </div>
        <div class="col col-33" ng-if="$index + 1 < quest.completedUsers.length">
          <img ng-src="{{quest.completedUsers[$index + 1].avatar}}" width="100%" style="border-radius: 150px;"/>

          <p style="text-align: center;">{{quest.completedUsers[$index + 1].displayName}}</p>
        </div>
        <div class="col col-33" ng-if="$index + 2 < quest.completedUsers.length">
          <img ng-src="{{quest.completedUsers[$index + 2].avatar}}" width="100%" style="border-radius: 150px;"/>

          <p style="text-align: center;">{{quest.completedUsers[$index + 2].displayName}}</p>
        </div>
      </div>
    </ion-item>

    <div class="padding">
      <button class="button button-block theme-button">Görevi Tamamla</button>
    </div>

  </ion-content>

</ion-view>
