<ion-view title="{{survey.title}}">
  <ion-content>
    <div class="list card" ng-repeat="survey in surveys">

      <div class="item" style="padding: 0; text-align: right;">
        <div class="row">
          <div class="col-40 category-icon-container"><i class="icon icon-evaluation"></i>
          </div>
          <div class="col-50">
            <p class="">Posted on {{survey.createDate}}</p>

            <p>by {{survey.user.displayName}}</p>
          </div>
          <div class="col-10 flex-center-aligner" ng-click="showOptions(survey.surveyId)">
            <i class="icon ion-gear-a" style="font-size: 26px; color: red;"></i>
          </div>
        </div>


      </div>
      <a href="#/app/survey-detail/{{survey.surveyId}}" class="item" style="padding: 0; text-decoration: none;">
        <div class="item">
          <h2 class="item-title-text">{{survey.title}}</h2>

          <p>{{survey.description}}</p>
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>
